/*General parameters*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header*/

header {
    background-color: #111774;
    color: white;
    height: 10%;
}

#header-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#menu-container {
    width: 50%;
}

#menu-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#menu-container ul li {
    cursor: pointer;
}

/*main*/

main {
    height: 100%;
}

#first-section {
    height: 45%;
    background-color: #373d8f;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#text-fs {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#text-fs h1 {
    font-size: 22px;
}

#text-fs button{
    width: 70%;
    background-color: white;
    color: #111774;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#img-fs {
    height: 70%;
    width: 30%;
    background-color: white;
    border-radius: 4px;
}

#second-section {
    height: 50%;
    color: #111774;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-section h1 {
    font-size: 22px;
}

#container-ss {
    height: 55%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-ss {
    height: 80%;
    width: 15%;
    box-shadow: 0 0 5px 0#373d8f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-ss {
    background-color: pink;
    height: 70%;
    width: 80%;
    border-radius: 2px;
}

.text-ss {
    height: 20%;
    width: 90%;
    text-align: center;
    padding: 5%;
}

#third-section {
    height: 30%;
}

#text-container-ts {
    background-color: burlywood;
    height: 100%;
}

#text-container-ts p {
    font-size: auto;
    height: 50%;
}

/*footer*/

footer {
    height: 5%;
    width: 100%;
    background-color: thistle;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}